
	<%for(var i = 0;i<data.result.length;i++){
	%>
		<tr class="content-table-tr <%if(i%2==1){%>odd<%}else{%>even<%}%>"> 
			<td><input type="checkbox" class="checkbox_row1" name="batchRemove" value="<%=data.result[i].PRODUCT_NO%>,<%=data.result[i].AVOID_CUST_TYPE%>,<%=data.result[i].AVOID_BOTHER_TYPE%>" /></td>
			<td><%=data.result[i].PRODUCT_NO%></td>
			<td><%=data.result[i].USER_TYPE_NAME%></td>
			<td><%=data.result[i].CHANNEL_NAME%></td>
			<td><%=data.result[i].CAMPSEG_TYPE_NAME%></td>
			<td><%=data.result[i].CREATE_USER_NAME%></td>
			<td><%=data.result[i].ENTER_TIME%></td>
			<td>
				<a href="javascript:void(0)" class="icon_del rMargin10" productNo="<%=data.result[i].PRODUCT_NO%>" userType="<%=data.result[i].USER_TYPE_ID%>" channelType="<%=data.result[i].AVOID_BOTHER_TYPE%>" campSegType="<%=data.result[i].AVOID_CUST_TYPE%>")"></a>
           	   	<a href="javascript:void(0)" class="icon_edit" productNo="<%=data.result[i].PRODUCT_NO%>" userType="<%=data.result[i].USER_TYPE_ID%>" channelType="<%=data.result[i].AVOID_BOTHER_TYPE%>" campSegType="<%=data.result[i].AVOID_CUST_TYPE%>")"></a>
			</td>
		</tr>
	<%}%>


