
<div role="tabpanel" id="channelContentDiv_<%=data.channelId%>" class="tab-pane active">
<div class="left-right-box">
	<span class="color-333 left ft14">推荐营销用语：</span>
	<div class="right text-area-box">
		<textarea name="channelId_<%=data.channelId%>_contentWords" id="channelId_<%=data.channelId%>_contentWords" value=""></textarea>
		<p class="ft12 color-999 text-mes">您还可以输入<span id="channelId_<%=data.channelId%>_wordSize"><%=data.wordSize%></span>个字</p>
	</div>
</div>
<div class="btns-wrp over-hidden">
	<p class="fright">
		<a href="javascript:;" class="mright_10 btn60-26 btn-a btn-a-blue" id="commitButton_channelId_<%=data.channelId%>">确定</a>
	</p>
	
</div>
</div>