<%
	var channelId = data.channelId;
	var channelName = data.channelName;
%>
	<li role="presentation" class="active" id="li_tabs_channelId_<%=channelId%>" tabchannelId="<%=channelId%>">
		<a href="#href-channelId_<%=channelId%>" aria-controls="href-channelId_<%=channelId%>" role="tab" data-toggle="tab"><%=channelName%></a>
	<i class="close">&times;</i>
	</li>