<table class="content-table">
    <tr>
        <th class="content-table-th" style="width:3%">序号</th>
        <th class="content-table-th" style="width:10%">客户群编号</th>
        <th class="content-table-th" style="width:15%">客户群名称</th>
        <th class="content-table-th" style="width:10%">创建人</th>
        <th class="content-table-th" style="width:7%">更新周期</th>
        <th class="content-table-th" style="width:10%">状态</th>
        <th class="content-table-th" style="width:10%">客户群规模</th>
        <th class="content-table-th" style="width:10%">数据日期</th>
        <th class="content-table-th" style="width:15%">操作</th>
    </tr>
    <%if(data.result.length==0){%>
    	 <tr class="content-table-tr ">
    	  	<td class="content-table-td" colspan="9">暂无数据</td>
    	 </tr>
    <%}%>
    <%for(var i = 0;i<data.result.length;i++){%>
        <tr class="content-table-tr <%if(i%2==1){%>odd<%}else{%>even<%}%>" data-table-name="<%=data.result[i].LIST_TABLE_NAME%>">
            <td class="content-table-td"><%=i+1%></td>
            <td class="content-table-td"><%=data.result[i].CUSTOM_GROUP_ID%></td>
            <td class="content-table-td td-align-left"><%=data.result[i].CUSTOM_GROUP_NAME%></td>
            <td class="content-table-td"><%=data.result[i].CREATE_USER_NAME%></td>
            <td class="content-table-td"><%=data.result[i].UPDATE_CYCLE_NAME%></td>
            <td class="content-table-td orangeFont"><%=data.result[i].CUSTOM_STATUS%></td>
            <td class="content-table-td orangeFont"><%=data.result[i].CUSTOM_NUM%></td>
            <td class="content-table-td orangeFont"><%=data.result[i].DATA_TIME_STR%></td>
            <td class="content-table-td">
                <div class="operate-btn-container" style="width: 170px;">
	                <div class="look-up-custom">查看</div>
	                <%if(data.result[i].DEL_FLAG=='1'){%>
                        <div class="delete-custom-enabled">删除</div>
                    <%}else{%>
                        <div class="delete-custom-disabled">删除</div>
                    <%}%>
                </div>
            </td>
        </tr>
    <%}%>
</table>
<div class="content-table-page">
    <div class="fright clearfix centent-page-box">
        <%if(!data.hasPrevPage || data.totalSize == 0){%>
            <a href="javascript:;" class="page-button fleft disabled">上一页</a>
        <%}else{%>
            <a href="javascript:;" class="page-button fleft" data-flag="prev">上一页</a>
        <%}%>
        <%if(data.totalPage>5){%>
            <%if(data.pageNum<5 || data.pageNum>data.totalPage-2){%>
                <a href="javascript:;" class="page-num fleft <%if(data.pageNum==1){%>active<%}%>">1</a>
                <a href="javascript:;" class="page-num fleft <%if(data.pageNum==2){%>active<%}%>">2</a>
                <a href="javascript:;" class="page-num fleft <%if(data.pageNum==3){%>active<%}%>">3</a>
                <a href="javascript:;" class="page-num fleft <%if(data.pageNum==4){%>active<%}%>">4</a>
               	<%if(data.totalPage > 6){%>
                	<a href="javascript:;" class="page-num fleft" data-flag="last-dot" style="pointer-events:none;">···</a>
               	<%}%>
                <a href="javascript:;" class="page-num fleft <%if(data.pageNum==data.totalPage-1){%>active<%}%>" ><%=data.totalPage-1%></a>
                <a href="javascript:;" class="page-num fleft <%if(data.pageNum==data.totalPage){%>active<%}%>"><%=data.totalPage%></a>
            <%}else if(data.pageNum>4 && data.pageNum<data.totalPage-1){%>
                <a href="javascript:;" class="page-num fleft ">1</a>
                <a href="javascript:;" class="page-num fleft">2</a>
                <%if(data.totalPage-2 == data.pageNum){%>
                    <a href="javascript:;" class="page-num fleft">3</a>
                <%}%>
                <a href="javascript:;" class="page-num fleft" data-flag="first-dot" style="pointer-events:none;">···</a>
                <a href="javascript:;" class="page-num fleft active"><%=data.pageNum%></a>
                <%if(data.totalPage-2 != data.pageNum){%>
                    <a href="javascript:;" class="page-num fleft" data-flag="last-dot" style="pointer-events:none;">···</a>
                <%}%>
                <a href="javascript:;" class="page-num fleft"><%=data.totalPage-1%></a>
                <a href="javascript:;" class="page-num fleft"><%=data.totalPage%></a>
            <%}%>
        <%}else{%>
            <%for(var i =1; i<=data.totalPage;i++){%>
                <a href="javascript:;" class="page-num fleft <%if(data.pageNum==i){%>active<%}%>"><%=i%></a>
            <%}%>
        <%}%>
        <%if(!data.hasNextPage || data.totalSize == 0){%>
            <a href="javascript:;" class="page-button fleft disabled">下一页</a>
        <%}else{%>
            <a href="javascript:;" class="page-button fleft" data-flag="next">下一页</a>
        <%}%>
        <span class="fleft">
			<input type="text"class="ui-page-num"/>
		</span>
		<a href="javascript:;" class="ui-page-button J_go_num fleft">跳转</a>
    </div>
</div>

