<%for(var i in data){
  if(isNaN((parseInt(i)+1))){
  
    break;
  }

%>
	<% if(data[i].channel_id=='904') {%>      
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td colspan="4"><%=data[i].channel_name%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%">奖励金额(元)</th>
					<td colspan="4"><%=data[i].awardMount%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%">推荐用语</th>
					<td colspan="4"><%=data[i].exec_content%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%">采编路径</th>
					<td colspan="4"><%=data[i].editUrl%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%">办理路径</th>
					<td colspan="4"><%=data[i].handleUrl%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%">短信用语</th>
					<td colspan="4"><%=data[i].sendSms%></td>
				</tr>
			</table>
		</div>
	<%} else if(data[i].channel_id=='905') {%>   
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td colspan="4"><%=data[i].channel_name%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%">推荐用语</th>
					<td colspan="4"><%=data[i].exec_content%></td>
				</tr>
				
			</table>
		</div>
	<%} 
	
	
	
	   else if(data[i].channel_id=='907') {%>      
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td>ToolBar</td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">运营位</th>
					<td><%= formatToolBarAidv(data[i].channelAdivId)%></td>
					
					
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px"><%=data[i].channel_name%>推荐用语</th>
					<td><%=data[i].exec_content%></td>
				</tr>
				
				
			</table>
		</div>
	<%}
	
	
	
	
	 else if(data[i].channel_id=='902') {%>      
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td>社会渠道</td>
				</tr>
				
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">推荐用语</th>
					<td><%=data[i].exec_content%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">预约办理时间</th>
					<td><%=data[i].appointmentTime%>月</td>
				</tr>
				
			</table>
		</div>
	<%}
	
	
	 else if(data[i].channel_id=='906') {%>      
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td>营业厅</td>
				</tr>
				
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">推荐用语</th>
					<td><%=data[i].exec_content%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">预约办理时间</th>
					<td><%=data[i].appointmentTime%>月</td>
				</tr>
				
			</table>
		</div>
	<%}
	
	
	
	else if(data[i].channel_id=='911') {%>     
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td>微信（全省）</td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">运营位</th>
					<td><%= formatWechatAidv(data[i].channelAdivId)%></td>     
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">标题</th>
					<td><%=data[i].execTitle%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">推荐用语</th>
					<td><%=data[i].exec_content%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">图片</th>
					<td><%=data[i].fileName%></td>
				</tr>
				
			</table>
		</div>
	<%} 
	
	
	
	
	

	else if(data[i].channel_id=='912') {%>     
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td>微信（温州）</td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">运营位</th>
					<td><%= formatWechatAidv(data[i].channelAdivId)%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">标题</th>
					<td><%=data[i].execTitle%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">推荐用语</th>
					<td><%=data[i].exec_content%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">图片</th>
					<td><%=data[i].fileName%></td>
				</tr>
				
			</table>
		</div>
	<%} 
	
	
	
	
	
	
	
	else if(data[i].channel_id=='910') {%>      
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td>Boss运营位</td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">短信模板</th>
					
					<td><%=data[i].channelAdivName%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">推荐用语</th>
					<td><%=data[i].exec_content%></td>
				</tr>
				
				
			</table>
		</div>
	<%}
	
	
	
	else if(data[i].channel_id=='903') {%>      
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td colspan="3">手机APP</td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">短信群发用语</th>
					
					<td colspan="3"></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">执行周期</th>
					<td width="40%">日周期：</td>
					<th width="20%">时机</th>
					<td width="20%"></td>
				</tr>
				<th class="tactics-table-th" style="width:20%;min-width: 246px">时机已配置规则</th>
					
					<td colspan="3">规则：</td>
				
			</table>
		</div>
	<%}
	
	
	
	else if(data[i].channel_id=='901') {%>     
		<div class="approval-tactics-title">投放渠道<%=(parseInt(i)+1)%></div>
		<div class="approval-table-div">
			<table class="approval-tactics-table">
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">渠道名称</th>
					<td>短信</td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">群发用语</th>
					
					<td><%=data[i].exec_content%></td>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">执行周期</th>
				    <th rowspan="1" class="content-table-th" style="text-align:left;"><%=data[i].update_cycle%></th>
				</tr>
				
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">触发时机</th>
					<%if(data[i].eventRuleDesc!='' && data[i].eventRuleDesc!=null ){%>
					<th rowspan="1" class="content-table-th" style="text-align:left;"><%=data[i].eventRuleDesc%></th>
					<%}else{%>
					<th rowspan="1" class="content-table-th" style="text-align:left;">无</th>
					<%}%>
				</tr>
				<tr class="tactics-table-tr">
					<th class="tactics-table-th" style="width:20%;min-width: 246px">频次控制规则</th>
					<%if(data[i].paramDays!='' && data[i].paramDays!=null && data[i].paramDays!='0' ){%>
					<th rowspan="1" class="tactics-table-th" style="text-align:left;"><%=data[i].paramDays%>天<%=data[i].paramNum%>次</th>
		            <%}else{%>
					<th rowspan="1" class="tactics-table-th" style="text-align:left;">无</th>
				    <%}%>
				</tr>
				
				
			</table>
		</div>
	<%}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
     %>
<%}%>



<%
	function formatWechatAidv(id){
		if(id=='1') return "猜你喜欢";
	}
%>

<%
	function formatToolBarAidv(id){
		if(id=='1') return "首页推荐";
		
		if(id=='2') return "弹窗";
	}
%>



