 <div class="approval-table-div">
		<table class="approval-tactics-table">
			<tr class="tactics-table-tr">
				<th class="tactics-table-th">营销策略名称</th>
				<td><%=data.campsegName%></td>
				<th class="tactics-table-th">执行周期</th>
				<td><%=data.startDate%> 到 <%=data.endDate%></td>
			</tr>
			<tr class="tactics-table-tr">
				<th class="tactics-table-th">创建人</th>
				<td><%=data.createUserName%></td>
				<th class="tactics-table-th">创建时间</th>
				<td><%=data.createTime%></td>
			</tr>
		</table>
		<div id="subCampsegIdCT" style="display:none;">
				<%for(var x in data.childMtlCampSeginfo){%>
					<span><%=data.childMtlCampSeginfo[x].campId%></span>
				<%}%>
		</div>
</div>

