<div class="approval-tactics-title">匹配政策</div>
<div class="approval-table-div">
	<table class="approval-tactics-table">
		<tr class="tactics-table-tr">
			<th class="tactics-table-th" width="20%">政策名称</th>
			<th class="tactics-table-th" width="15%">编号</th>
			<th class="tactics-table-th" width="20%">有效期</th>
			<th class="tactics-table-th" width="45%">描述</th>
		</tr>
		<tr class="tactics-table-tr">
			<td class="align_center"><i class="border-active hidden"></i><%=data.stcPlanName%></td>
			<td class="align_center"><%=data.stcPlanId%></td>
			<td class="align_center"><%=data.stcPlanStartdate%> - <%=data.stcPlanEnddate%></td>
			<td class="align_center"><%=data.stcPlanDesc%></td>
		</tr>
	</table>
</div> 