<table class="content-table">
	<tr>
		<th style="width:5%">序号</th>
		<th style="width:40%">政策名称</th>
		<th style="width:35%">客户群</th>
		<th style="width:10%">最新客户群规模</th>
		<th style="width:15%">执行渠道</th>
	</tr>
	<%for(var i = 0;i<data.length;i++){%>
	<tr>
		<td rowspan="<%=data[i].mtlChannelDefs.length%>" class="hasBG"><%=i+1%></td>
		<td rowspan="<%=data[i].mtlChannelDefs.length%>"><%=data[i].planName%></td>
		<td rowspan="<%=data[i].mtlChannelDefs.length%>"><div style="position:absolute;width:33%;margin-top:-10px" class="overflowEllipsis" title='<%=data[i].ruleDesc%>' ><%=data[i].ruleDesc%></div></td>
		<td rowspan="<%=data[i].mtlChannelDefs.length%>"><%=data[i].originalCustGroupNum%></td>
		<%for(var j=0;j<data[i].mtlChannelDefs.length;j++){%>
			<%if(j==0){%>
				<td><%=data[i].mtlChannelDefs[j].CHANNEL_NAME%></td>
			</tr>
			<%}else{%>
			<tr>
				<td><%=data[i].mtlChannelDefs[j].CHANNEL_NAME%></td>
			</tr>
			<%}%>
		<%}%>
	<%}%>
</table>
