<table class="content-table-box content-table-list mt20">
	<tr>
		<th class="content-table-th" style="width:20%">产品名称</th>
		<th class="content-table-th" style="width:14%">产品编号</th>
		<th class="content-table-th" style="width:20%">有效期</th>
		<th class="content-table-th" style="width:46%">产品描述</th>
	</tr>
	<tr class="even content-table-tr">
		<td class="content-table-td"><i class="border-active hidden"></i><%=data.stcPlanName%></td>
		<td class="content-table-td" style="text-align:center"><%=data.stcPlanId%></td>
		<td class="content-table-td"><%=data.stcPlanStartdate%> - <%=data.stcPlanEnddate%></td>
		<%if(data.stcPlanDesc!='' && data.stcPlanDesc!=undefined){%>
			<td class="content-table-td" style="text-align:left"><div style="margin:auto;width:450px" title="<%=data.stcPlanDesc.replace(new RegExp(/"/g),'“')%>" ><%=data.stcPlanDesc%></div></td>
		<%}else{%>
			<td class="content-table-td" style="text-align:center">无</div></td>
		<%}%>
		</tr>
	<tr class="mtlStcPlanDetailTr">
		<td colspan="4">
			<div class="mtlStcPlanDetail">
				<p><%=data.stcPlanDetails%></p>
			</div>
		</td>
	</tr>
	
</table>
