<%if(data.length > 0){%>
	<%
	for(var i=0;i<data.length;i++){
		var plan=data[i];
		var index=i+1;
		
		var moreInfo ={};
		moreInfo.planId = plan.planId;
		moreInfo.planName=plan.planName;
		moreInfo.planTypeName=plan.planType;
		moreInfo.planSrvType=plan.planSrvType;
		moreInfo.planStartdate=plan.planStartdate;
		moreInfo.planEnddate=plan.planEnddate;
		moreInfo.planIsUsed=plan.IS_USED
		
		var info = JSON.stringify(moreInfo)
		info = info.replace(/"/g,"'");
	%>
		<tr data-info="<%=info%>">
			<td class="text-center"><%=index%></td>
			<td class="text-left">
				<a href="javascript:;" class="showPlanInfo">
					<em>
						<%=plan.planId%>
					</em>
					&nbsp;&nbsp;
					<%=plan.planName%>
				</a>
			</td>
			<td class="text-center"><%=plan.typeName%></td>
			<%if(plan.planSrvType==1){%>
			<td class="text-center">单产品</td>
			<%} else if(plan.planSrvType==2){%>
			<td class="text-center">政策</td>
			<%} else{%>
			<td class="text-center"><%=plan.planSrvType%></td>
			<%}%>
			<td class="text-center"><%=plan.planStartdate%></td>
			<td class="text-center"><%=plan.planEnddate%></td>
			<td class="text-center"><%=plan.isUsed%></td>
			<td class="text-center" >
				<button type="button" class="btn-a btn-a-blue" style="width:54px;height:24px;">确定</button>
			</td>
		</tr>
	<%}%>
<%}%>
