<%if(!data.hasPrevPage || data.totalSize == 0){%>
	<a href="javascript:;" class="page-button fleft disabled" onclick="queryPlan('<%=data.pageNum-1%>')" >上一页</a>
<%}else{%>
	<a href="javascript:;" class="page-button fleft" onclick="queryPlan('<%=data.pageNum-1%>')">上一页 </a>
<%}%>
<%if(data.totalPage>5){%>
	<%if(data.pageNum<5 || data.pageNum>data.totalPage-2){%>
		<a href="javascript:;" class="page-num fleft <%if(data.pageNum==1){%>active<%}%>" onclick="queryPlan('1')">1</a>
		<a href="javascript:;" class="page-num fleft <%if(data.pageNum==2){%>active<%}%>" onclick="queryPlan('2')">2</a>
		<a href="javascript:;" class="page-num fleft <%if(data.pageNum==3){%>active<%}%>" onclick="queryPlan('3')">3</a>
		<a href="javascript:;" class="page-num fleft <%if(data.pageNum==4){%>active<%}%>" onclick="queryPlan('4')">4</a>
		<a href="javascript:;" class="page-num fleft" data-flag="last-dot" style="pointer-events:none;">···</a>
		<a href="javascript:;" class="page-num fleft <%if(data.pageNum==data.totalPage-1){%>active<%}%>" onclick="queryPlan('<%=data.totalPage-1%>')"><%=data.totalPage-1%></a>
		<a href="javascript:;" class="page-num fleft <%if(data.pageNum==data.totalPage){%>active<%}%>" onclick="queryPlan('<%=data.totalPage%>')"><%=data.totalPage%></a>
	<%}else if(data.pageNum>4 && data.pageNum<data.totalPage-1){%>
		<a href="javascript:;" class="page-num fleft" onclick="queryPlan('1')">1</a>
		<a href="javascript:;" class="page-num fleft" onclick="queryPlan('2')">2</a>
		<%if(data.totalPage-2 == data.pageNum){%>
			<a href="javascript:;" class="page-num fleft" onclick="queryPlan('3')">3</a>
		<%}%>
		<a href="javascript:;" class="page-num fleft" data-flag="first-dot" style="pointer-events:none;">···</a>
		<a href="javascript:;" class="page-num fleft active" onclick="queryPlan('<%=data.pageNum%>')"><%=data.pageNum%></a>
		<%if(data.totalPage-2 != data.pageNum){%>
			<a href="javascript:;" class="page-num fleft" data-flag="last-dot" style="pointer-events:none;">···</a>
		<%}%>
		<a href="javascript:;" class="page-num fleft" onclick="queryPlan('<%=data.totalPage-1%>')"><%=data.totalPage-1%></a>
		<a href="javascript:;" class="page-num fleft" onclick="queryPlan('<%=data.totalPage%>')"><%=data.totalPage%></a>
	<%}%>
<%}else{%>
	<%for(var i =1; i<=data.totalPage;i++){%>
		<a href="javascript:;" class="page-num fleft <%if(data.pageNum==i){%>active<%}%>"><%=i%></a>
	<%}%>
<%}%>
<%if(!data.hasNextPage || data.totalSize == 0){%>
	<a href="javascript:;" class="page-button fleft disabled" onclick="queryPlan('<%=data.pageNum+1%>')">下一页</a>
<%}else{%>
	<a href="javascript:;" class="page-button fleft" data-flag="next" onclick="queryPlan('<%=data.pageNum+1%>')">下一页</a>
<%}%>
<span class="fleft">
	<input type="text"class="ui-page-num" id="turnPageId"/>
</span>
<a href="javascript:;" class="ui-page-button fleft" onclick="queryPlan()">跳转</a>