<table class="content-table">
	<tr>
		<th class="content-table-th" width="10%">序号</th>
		<th class="content-table-th">策略编号及名称</th>
		<th class="content-table-th">执行周期</th>
		<th class="content-table-th">状态</th>
		<th class="content-table-th">创建人</th>
		<th class="content-table-th" width="35%">操作</th>
	</tr>
	<%for(var i = 0;i<data.result.length;i++){%>
		<tr class="even content-table-tr <%if(i%2==1){%>odd<%}else{%>even<%}%>" >
			<td class="content-table-td"><%=i+1%></td>
			<td class="content-table-td" style="width:380px;">
				<a href="<%="tacticsInfo.jsp?campsegId="+data.result[i].campsegId%>" target="_blank" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width:350px;display: block;" title="<%=data.result[i].campsegId%>&nbsp;<%=data.result[i].campsegName%>">
					<%=data.result[i].campsegId%>&nbsp;<%=data.result[i].campsegName%>
				</a>
			</td>
			<td class="content-table-td align_center" campsegid="<%=data.result[i].campsegId%>" enddate="<%=data.result[i].endDate%>"><%=data.result[i].startDate%>到<%=data.result[i].endDate%></td>
			<td class="content-table-td">
				<ul class="stateSteps">
					<%for(var j = 0;j<5;j++){
						if(parseInt(data.result[i].campsegStatSiteId)==(function(x){return x})(j+1)){%>
							<li class="circle active">
								<div class="point"></div>
								<div class="line"></div>
								<span><%=data.result[i].campsegStatName%></span>
							</li>
						<%}else{%>
							<li>
								<div class="point"></div>
								<div class="line"></div>
							</li>
						<%}%>
					<%}%>
				</ul>
			</td>
			<td class="content-table-td align_center"><%=data.result[i].createUserName%></td>
			<td class="content-table-td align_center J_manageTd">
			  <%
					  var onlyCpoyArr = ["91","90","59","54","50","40","48"];
					  var statusId = data.result[i].campsegStatId+"";
					  data.result[i].manageBtnDisplay="visible";
					  if($.inArray(statusId, onlyCpoyArr) != -1){
						if((data.result[i].DQ_2+"")!="1")
						{
						    data.result[i].manageBtnDisplay="hidden";
						} 
					  }
					%>
				<!--  非自己的不做任何操作，modify by lixq10 2016年7月19日21:20:53
				<div style="visibility:<%=data.result[i].manageBtnDisplay%>" class="fleft controls manage J_manageBtnAll" <%=(data.result[i].isMy==0&&(data.result[i].campsegStatId != 90 )) ? '': 'style="display:none;"' %>  statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>">
				-->
				<div class="fleft controls newControls manage J_manageBtnAll" style="visibility:<%=data.result[i].manageBtnDisplay%>" style="visibility:<%=data.result[i].manageBtnDisplay%>" <%=(data.result[i].isMy==0&&(data.result[i].campsegStatId != 90 )) ? '': 'style="display:none;"' %> statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>">
					<span class="txt J_manageBtnAll" statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>">管理</span>
					<div class="icon J_manageBtnAll" statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>">
						<span class="icon_arrDown J_manageBtnAll" statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>"></span>
					</div>
				</div>
				<div class="fleft controls newControls manage J_activityBtnAll" <%=data.result[i].isMy==0 ? (data.result[i].campsegStatId == 20 || data.result[i].campsegStatId == 91||data.result[i].campsegStatId == 90 || data.result[i].campsegStatId == 41|| data.result[i].campsegStatId == 48) ?  'style="display:none;"': '': 'style="display:none;"' %> statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>">
					<span class="txt J_activityBtnAll" statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>">活动管控</span>
					<div class="icon J_activityBtnAll" statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>">
						<span class="icon_arrDown J_activityBtnAll" statusId="<%=data.result[i].campsegStatId%>" isMy="<%=data.result[i].isMy%>" campsegId="<%=data.result[i].campsegId%>"></span>
					</div>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="6" class="nopadding">
				<div class="tableOuter">
					
				</div>
			</td>
		</tr>
	<%}%>
</table>
<div class="content-table-page">
	<div class="fright clearfix centent-page-box">
		<%if(!data.hasPrevPage || data.totalSize == 0){%>
			<a href="javascript:;" class="page-button fleft disabled">上一页</a>
		<%}else{%>
			<a href="javascript:;" class="page-button fleft" data-flag="prev">上一页</a>
		<%}%>
		<%if(data.totalPage>5){%>
			<%if(data.pageNum<5 || data.pageNum>data.totalPage-2){%>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==1){%>active<%}%>">1</a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==2){%>active<%}%>">2</a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==3){%>active<%}%>">3</a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==4){%>active<%}%>">4</a>
				<a href="javascript:;" class="page-num fleft" data-flag="last-dot" style="pointer-events:none;">···</a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==data.totalPage-1){%>active<%}%>" ><%=data.totalPage-1%></a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==data.totalPage){%>active<%}%>"><%=data.totalPage%></a>
			<%}else if(data.pageNum>4 && data.pageNum<data.totalPage-1){%>
				<a href="javascript:;" class="page-num fleft ">1</a>
				<a href="javascript:;" class="page-num fleft">2</a>
				<%if(data.totalPage-2 == data.pageNum){%>
					<a href="javascript:;" class="page-num fleft">3</a>
				<%}%>
				<a href="javascript:;" class="page-num fleft" data-flag="first-dot" style="pointer-events:none;">···</a>
				<a href="javascript:;" class="page-num fleft active"><%=data.pageNum%></a>
				<%if(data.totalPage-2 != data.pageNum){%>
					<a href="javascript:;" class="page-num fleft" data-flag="last-dot" style="pointer-events:none;">···</a>
				<%}%>
				<a href="javascript:;" class="page-num fleft"><%=data.totalPage-1%></a>
				<a href="javascript:;" class="page-num fleft"><%=data.totalPage%></a>
			<%}%>
		<%}else{%>
			<%for(var i =1; i<=data.totalPage;i++){%>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==i){%>active<%}%>"><%=i%></a>
			<%}%>
		<%}%>
		<%if(!data.hasNextPage || data.totalSize == 0){%>
			<a href="javascript:;" class="page-button fleft disabled">下一页</a>
		<%}else{%>
			<a href="javascript:;" class="page-button fleft" data-flag="next">下一页</a>
		<%}%>
		<span class="fleft">
			<input type="text"class="ui-page-num"/>
		</span>
		<a href="javascript:;" class="ui-page-button J_go_num fleft">跳转</a>
	</div>
</div>
