
<table class="content-table">
	<tr>
		<th class="content-table-th" width="50">序号</th>
		<th class="content-table-th" width="90">名称</th>
		<th class="content-table-th" width="50">更新周期</th>
		<th class="content-table-th" width="">业务口径</th>
		<th class="content-table-th" width="120">数据日期</th>
		<th class="content-table-th" width="120">操作</th>
	</tr>
	<%for(var i = 0;i<data.result.length;i++){%>
		<tr class="even content-table-tr <%if(i%2==1){%>odd<%}else{%>even<%}%>" >
			<td class="content-table-td"><%=i+1%></td>
			<td class="content-table-td" cView="<%=data.result[i].cViewId%>" attrmetaId="<%=data.result[i].attrMetaId%>" columnTypeId="<%=data.result[i].columnTypeId%>" ctrlTypeId="<%=data.result[i].ctrlTypeId%>" attrId="<%=data.result[i].attrId%>"><%=data.result[i].attrAlias%></td>
			<td class="content-table-td align_center"><%=data.result[i].custGroupUpdateCycle%></td>
			<td class="content-table-td"><%=data.result[i].attrClassName%></td>
			<td class="content-table-td">2015-08-08</td>
			<td class="content-table-td">
				<button type="button" class="table-button busLabelAddButton">添加</button>
			</td>
		</tr>
	<%}%>
</table>

<div class="content-table-page">
	<div class="fright clearfix centent-page-box">
		<%if(!data.hasPrevPage || data.totalSize == 0){%>
			<a href="javascript:;" class="page-button fleft disabled">上一页</a>
		<%}else{%>
			<a href="javascript:;" class="page-button fleft" data-flag="prev">上一页</a>
		<%}%>
		<%if(data.totalPage>5){%>
			<%if(data.pageNum<5 || data.pageNum>data.totalPage-2){%>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==1){%>active<%}%>">1</a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==2){%>active<%}%>">2</a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==3){%>active<%}%>">3</a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==4){%>active<%}%>">4</a>
				<a href="javascript:;" class="page-num fleft" data-flag="last-dot" style="pointer-events:none;">···</a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==data.totalPage-1){%>active<%}%>" ><%=data.totalPage-1%></a>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==data.totalPage){%>active<%}%>"><%=data.totalPage%></a>
			<%}else if(data.pageNum>4 && data.pageNum<data.totalPage-1){%>
				<a href="javascript:;" class="page-num fleft ">1</a>
				<a href="javascript:;" class="page-num fleft">2</a>
				<%if(data.totalPage-2 == data.pageNum){%>
					<a href="javascript:;" class="page-num fleft">3</a>
				<%}%>
				<a href="javascript:;" class="page-num fleft" data-flag="first-dot" style="pointer-events:none;">···</a>
				<a href="javascript:;" class="page-num fleft active"><%=data.pageNum%></a>
				<%if(data.totalPage-2 != data.pageNum){%>
					<a href="javascript:;" class="page-num fleft" data-flag="last-dot" style="pointer-events:none;">···</a>
				<%}%>
				<a href="javascript:;" class="page-num fleft"><%=data.totalPage-1%></a>
				<a href="javascript:;" class="page-num fleft"><%=data.totalPage%></a>
			<%}%>
		<%}else{%>
			<%for(var i =1; i<=data.totalPage;i++){%>
				<a href="javascript:;" class="page-num fleft <%if(data.pageNum==i){%>active<%}%>"><%=i%></a>
			<%}%>
		<%}%>
		<%if(!data.hasNextPage || data.totalSize == 0){%>
			<a href="javascript:;" class="page-button fleft disabled">下一页</a>
		<%}else{%>
			<a href="javascript:;" class="page-button fleft" data-flag="next">下一页</a>
		<%}%>
		<span class="fleft">
			<input type="text"class="ui-page-num"/>
		</span>
		<a href="javascript:;" class="ui-page-button J_go_num fleft">跳转</a>
	</div>
</div>