<span class="fleft content-type-box J_selectedBox" typeId="" classification="<%=result.classification%>">全部</span>
<%for(var i=0,len = result.data.length;i<len;i++){%>
	<%if(result.classification.indexOf("ARPU") > -1){%>
		<span class="fleft content-type-box J_selectedBox" classificationName="<%=result.classificationName%>" classification="<%=result.classification%>" typeId="<%=result.data[i].value%>" attrId="<%=result.attrId%>" attrAlias="<%=result.attrAlias%>" columnTypeId="<%=result.columnTypeId%>" ctrlTypeId = "<%=result.ctrlTypeId%>" attrMetaId = "<%=result.attrMetaId%>" cView = "<%=result.cView%>"><%=result.data[i].label%></span>
	<%}else if(result.classification.indexOf("bussinessLable") > -1){%>
		<span class="fleft content-type-box J_selectedBox"  ctrlTypeId="<%=result.data[i].ctrlTypeId%>" cView="<%=result.data[i].cViewId%>" attrMetaId ="<%=result.data[i].attrMetaId%>" columnTypeId ="<%=result.data[i].columnDataType%>" customNum="<%=result.data[i].customNum%>" updateCycle = "<%=result.data[i].updateCycle%>" classificationName="<%=result.classificationName%>" classification="<%=result.classification%>" typeId="<%=result.data[i].typeId%>" ><%=result.data[i].typeName%></span>
	<%}else{%>
		<span class="fleft content-type-box J_selectedBox"  ctrlTypeId="<%=result.data[i].ctrlTypeId%>" cViewId="<%=result.data[i].cViewId%>" attrMetaId ="<%=result.data[i].attrMetaId%>" customNum="<%=result.data[i].customNum%>" updateCycle = "<%=result.data[i].updateCycle%>" classificationName="<%=result.classificationName%>" classification="<%=result.classification%>" typeId="<%=result.data[i].typeId%>" ><%=result.data[i].typeName%></span>
	<%}%>
<%}%>