<table>
	<tr>
		<th style="width:8%">序号</th>
		<th style="width:36%">政策名称/编码</th>
		<th style="width:20%">客户群/更新周期</th>
		<th style="width:12%">最新客户群规模</th>
		<th style="width:12%">执行渠道</th>
		<th style="width:12%">清洗后客户群数量</th>
	</tr>
	<%for(var i=0;i<result.datalist.length;i++){%>
	<tr groupsIndex="<%=i%>">
		<td rowspan="<%=result.datalist[i].putChanels.length%>" style="text-align:center"><%=i+1%></td>
		<%
		  var policyNameArr=result.datalist[i].policyName.split(",");
		  var policyIdArr=result.datalist[i].policyId.split(",");
		  var policyNames="";
		  for(var j=0;j<policyNameArr.length;j++){
		     policyNames=policyNames+"<p>";
		  	 policyNames=policyNames+policyNameArr[j]+"/"+policyIdArr[j];
		  	 policyNames=policyNames+"</p>";
		  }
		  policyNames=policyNames+"<p class='commonAttrPlanId' style='display:none'>"+result.datalist[i].policyId+"</p>";
		  result.datalist[i].policyNames=policyNames;
		  
		  
		%>
		<td rowspan="<%=result.datalist[i].putChanels.length%>" style="text-align:left"><%=result.datalist[i].policyNames%></td>
		<td rowspan="<%=result.datalist[i].putChanels.length%>" style="text-align:left;padding-left:6px;padding-right:4px" custGroupId="<%=result.datalist[i].groupId%>"><%=result.datalist[i].groupName%>/<span><%=result.datalist[i].updatecycle%></span></td>
		<td rowspan="<%=result.datalist[i].putChanels.length%>" style="text-align:right"><%=result.data[i][0].originalCustGroupNum%></td>
		<%for(var j=0;j<result.datalist[i].putChanels.length;j++){
		
		if(j>0){%>
		<tr groupsIndex="<%=i%>">
		<%}%>
			<td class="afterComputCustNum" style="text-align:left"><%=result.datalist[i].putChanels[j].chanelName%>
				<input type="hidden" value="<%=result.datalist[i].putChanels[j].chanelId%>_<%=result.data[i][j].filterCustGroupNum%>" />
			</td>
			<td style="text-align: center;padding-left: 1px;padding-right: 1px;" channelId="<%=result.datalist[i].putChanels[j].chanelId%>" avoidCustListNum="<%=result.data[i][j].avoidCustListNum%>" blackListNum="<%=result.data[i][j].blackListNum%>" afterSatisfiedFilterNum="<%=result.data[i][j].afterSatisfiedFilterNum%>">
			<%if(result.status == -1){%>
					<button type="button" class="J_clearCustomerNum clearCustomerBtn" >计算</button><span class="icon_exclamation hidden">!</span>
				<%}else{%>
					<%=result.data[i][j].filterCustGroupNum%><span class="icon_exclamation">!</span>
				<%}%>
			</td>
		</tr>
		<%}%>
	<%}%>
</table>