<%if(data.length > 0){%>
	<%for(var i=0;i<data.length;i++){
		var plan=data[i];
		var index=i+1;
		
	%>
		<tr>
			<td class="text-center"><input type="checkbox" name="checkPlan" class="batch_chk_box" planId="<%=plan.PLAN_ID%>" value="<%=plan.PLAN_ID%>" onclick="choosePlan('<%=plan.PLAN_ID%>','<%=plan.PLAN_NAME%>')"/></td>
			<td class="text-center"><%=index%></td>
			<td class="text-left"><a href="#" class="hover-a color-666"><em><%=plan.PLAN_ID%></em>&nbsp;&nbsp;<%=plan.PLAN_NAME%></a></td>
			<td class="text-center"><%=plan.TYPE_NAME%></td>
			<%if(plan.PLAN_SRV_TYPE==1){%>
			<td class="text-center">单产品</td>
			<%} else if(plan.PLAN_SRV_TYPE==2){%>
			<td class="text-center">政策</td>
			<%} else{%>
			<td class="text-center"><%=plan.PLAN_SRV_TYPE%></td>
			<%}%>
			<td class="text-center"><%=plan.IS_USED%></td>
		</tr>
	<%}%>
<%}%>
