<style type="text/css">
    .container .content .content-main .channel-operation-box .channel-operation-left{margin-top: 20px;}
    .container .content .content-main .channel-operation-box .channel-operation-main .channel-operation-main-inner{margin-top: 10px;}

</style>
<div class="channel-app-title J_show_box hidden" channelId="<%=data.channelId%>">
    <span class="app-title fleft"><%=data.channelName%></span>
</div>
<div class="channel-operation-box J_show_box hidden" channelId="<%=data.channelId%>">
    <ul class="channel-operation-box">
    	<li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">实时触发时机</div>
            <input type="hidden" id="saveMapAllAreaInfo"/>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
		            <a class="channel-message-add" id="CEPMessageName" data-toggle="modal" data-target="#openAddOpportunity" onclick='initVirtualNetScene()'>
					  	<span class="cep-add-text-right">添加</span>
					</a>
                </div>
            </div>
            
        </li>
    
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">群发用语</div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-textarea-box fleft">
                        <textarea rows="" cols="" class="channel-textarea J_SMSBox"  id="J_SMSBox" channelId="<%=data.channelId%>" maxTextNum="<%=data.wordSize%>"></textarea>
                        <p class="channel-num-text">您还可以输入<i class="yellow">50</i>个字</p>
                    </div>
                   	<div class="preview-message fleft hidden">
                        <button type="button" class="preview-btn" style="display:none">预览效果</button>
                    </div>
                    <div channelId="<%=data.channelId%>" class="channelPreDefineList channel-ta-btn clearfix J_termLable" id="sms_J_termLable">

                    </div>

                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">群发周期</div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-executive-box clearfix">
                        <div class="channel-executive-item fleft active J_times" updatecycle="1" channelid="<%=data.channelId%>">
                            <i class="hidden channel-select-icon"></i>
                            <span class="J_times"> 一次性</span>
                        </div>
                        <div class="channel-executive-item fleft J_times" updatecycle="2,3" channelid="<%=data.channelId%>">
                            <i class="hidden channel-select-icon"></i>
                            <span class="J_times"> 周期性</span>
                            <span class="channel-time-month J_month_day hidden"></span>
                        </div>
           
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix hidden">
            <div class="channel-frequency" channelid="<%=data.channelId%>">
                <div class="channel-frequency-info" data-type="add">
                    <div class="channel-frequency-btn channel-frequency-btn-add">
                        <span class="span-add">+</span>
                    </div>
                    <span class="channel-frequency-desc">点击可以查看和修改频次控制规则</span>
                </div>
                <div class="channel-frequency-info hidden" data-type="sub">
                    <div class="channel-frequency-btn channel-frequency-btn-sub" >
                        <span class="span-sub">-</span>
                    </div>
                    <span class="channel-frequency-desc" style="color:black">频次控制:</span>
                    <input type="text" class="paramDays" channelId="<%=data.channelId%>" value="30" /><span>天</span>
                    <input type="text" class="paramNum" channelId="<%=data.channelId%>" value="1" /><span>次</span>
                </div>
            </div>
        </li>
    </ul>

    <div class="channel-operation-box channel-query-lsit hidden">
        <ul class="channel-query-lsit-ul">
            <li class="active">位置停留</li>
            <li>拨打电话</li>
            <li>休闲娱乐</li>
            <li>KTV</li>
            <li>订酒店</li>
            <li>定外卖</li>
            <li>定外卖</li>
        </ul>
        <div class="showall">显示全部<span>&gt;</span></div>
        <div class="clear"></div>
        <table class="channel-query-lsit-table">
            <tr>
                <td><label>在</label><input type="text"></td>
                <td>
                    <label>停留时间</label><input type="text">
                    <div class="arrUpDown">
                        <span class="icon_arrUp"></span>
                        <hr>
                        <span class="icon_arrDown"></span>
                    </div>
                    <input type="text"><label>分钟</label>
                </td>
                <td><input type="checkbox"><label>复制</label></td>
                <td><span class="delthis">删除</span></td>
            </tr>
            <tr>
                <td><label>在</label><input type="text"></td>
                <td>
                    <label>停留时间</label><input type="text">
                    <div class="arrUpDown">
                        <span class="icon_arrUp"></span>
                        <hr>
                        <span class="icon_arrDown"></span>
                    </div>
                    <input type="text"><label>分钟</label>
                </td>
                <td><input type="checkbox"><label>复制</label></td>
                <td><span class="delthis">删除</span></td>
            </tr>
        </table>
        <div class="channel-query-lsit-add">
            <button class="content-type-add-btn" type="button">添加筛选规则</button>
        </div>
    </div>

</div>