<div class="channel-app-title J_show_box hidden" channelId="<%=data.channelId%>">
    <span class="app-title fleft"><%=data.channelName%></span>
</div>
<!--<div class="channel-operation-box J_show_box hidden channel908_info" channelId="<%=data.channelId%>">
    <ul id="channel908Tab" class="channel908Tab">
        <li data-tab="inside" class="active">计划内</li>
        <li data-tab="outside" class="">计划外</li>
    </ul>
    <ul class="channel-operation-box" data-tab="inside" channelId="<%=data.channelId%>" >
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                关联月度计划
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-executive-box clearfix">
                        <botton type="botton" channelId="<%=data.channelId%>" class="relaMonthPlan_btn">选择关联月度计划</botton>
                        <span channelId="<%=data.channelId%>" class="relaMonthPlan_text"></span>
                        <input type="hidden" class="monthPlan-outBound">
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                外呼周期
                <input type="hidden" class="cycle-outBound" />
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-executive-box clearfix">
                        <div class="channel-executive-item fleft active J_times" channelId="<%=data.channelId%>" updatecycle="1">
                            <i class="hidden channel-select-icon"></i>
                            <span class="J_times"> 一次性</span>
                        </div>
                        <div class="channel-executive-item fleft J_times" channelId="<%=data.channelId%>" updatecycle="2,3">
                            <i class="hidden channel-select-icon"></i>
                            <span class="J_times"> 周期性</span>
                            <span class="channel-time-month J_month_day hidden"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                计划外呼量
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-operation-short-text">
                        <input type="text" class="input-num-outBound" channelId="<%=data.channelId%>" ／>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                要求完成时间
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-operation-short-text">
                        <input type="text" class="input-date-outBound Wdate" channelId="<%=data.channelId%>" onClick="WdatePicker({minDate:'%y-%M-#{%d+1}'})" ／>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">任务描述</div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-textarea-box fleft">
                        <textarea rows="" cols="" class="channel-textarea J_SMSBox"  id="J_SMSBox" channelId="<%=data.channelId%>" maxTextNum="<%=data.wordSize%>"></textarea>
                        <p class="channel-num-text">您还可以输入<i class="yellow"><%=data.wordSize%></i>个字</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                客户标签信息
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div channelId="<%=data.channelId%>" class="channelPreDefineList channel-ta-btn clearfix J_termLable vars-outBound">
                    </div>
                    <input type="hidden" class="custom-outBound" />
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                外呼问卷
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix file-box">

                    <input type="file" id="file" name="file" class="" channelId="<%=data.channelId%>" />
                    <a href="javascript:;" class="out_UploadFlie">上传</a>
                    <input type="hidden" class="file-outBound" />
                    <input type="hidden" class="file-outBoundName" />

                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="channel-908-role" channelid="<%=data.channelId%>">
                <div class="channel-908-role-info" data-type="add">
                    <div class="channel-908-role-btn channel-908-role-btn-add">
                        <span class="span-add">+</span>
                    </div>
                    <span class="channel-908-role-desc">点击可以查看和修改默认规则</span>
                </div>
                <div class="channel-908-role-info hidden" data-type="sub">
                    <input type="hidden" class="menuWash-outBound" value=1">
                    <input type="hidden" class="callTest-outBound" value="1">
                    <input type="hidden" class="freqWash-outBound" value="1">
                    <div class="channel-908-role-btn channel-908-role-btn-sub" >
                        <span class="span-sub">-</span>
                    </div>
                    <div class="channel-908-role-item">
                        <span class="channel-908-role-desc" style="color:black">主叫号码:</span>
                        <input class="mainCall-outBound" type="text" channelId="<%=data.channelId%>" value="10086" />
                    </div>
                    <div class="channel-908-role-item">
                        <span class="channel-908-role-desc" style="color:black;margin-right:10px;">是否要清洗黑红白名单:</span>
                        <span data-val="1" data-id="menuWash" class="channel-908-role-item-select hover">是</span>
                        <span data-val="0" data-id="menuWash" class="channel-908-role-item-select noLeftBorder">否</span>
                    </div>
                    <div class="channel-908-role-item" style="margin-left: 21px;">
                        <span class="channel-908-role-desc" style="color:black;margin-right:10px;">是否拨测:</span>
                        <span data-val="1" data-id="callTest" class="channel-908-role-item-select hover">是</span>
                        <span data-val="0" data-id="callTest" class="channel-908-role-item-select noLeftBorder">否</span>
                    </div>
                    <div class="channel-908-role-item">
                        <span class="channel-908-role-desc" style="color:black;margin-right:10px;">是否需要进行频次清洗:</span>
                        <span data-val="1" data-id="freqWash" class="channel-908-role-item-select hover" >是</span>
                        <span data-val="0" data-id="freqWash" class="channel-908-role-item-select noLeftBorder">否</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>










    <ul class="channel-operation-box hidden" data-tab="outside" channelId="<%=data.channelId%>" >
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                任务名称
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-operation-long-text ">
                        <input type="text" class="taskName-outBound" channelId="<%=data.channelId%>" />
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                任务类型
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <input type="hidden" class="taskTypeA-outBound" channelId="<%=data.channelId%>">
                    <input type="hidden" class="taskTypeB-outBound" channelId="<%=data.channelId%>">
                    <input type="hidden" class="taskTypeC-outBound" channelId="<%=data.channelId%>">
                    <div class="outSelect taskTypeA">
                        <span class="txt">任务类型</span>
                        <div class="icon">
                            <span class="icon_arrDown "></span>

                        </div>
                    </div>
                    <div class="outSelect taskTypeB">
                        <span class="txt">任务子类型</span>
                        <div class="icon">
                            <span class="icon_arrDown "></span>
                        </div>
                    </div>
                </div>

            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                外呼形式
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <input type="hidden" class="outType-outBound" channelId="<%=data.channelId%>">
                    <input type="hidden" class="outPlace-outBound" channelId="<%=data.channelId%>">
                    <div class="outSelect outType">
                        <span class="txt">外呼型式</span>
                        <div class="icon">
                            <span class="icon_arrDown "></span>

                        </div>
                    </div>
                    <div class="outSelect outPlace">
                        <span class="txt">外呼属地</span>
                        <div class="icon">
                            <span class="icon_arrDown "></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                外呼周期
                <input type="hidden" class="cycle-outBound" />
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-executive-box clearfix">
                        <div class="channel-executive-item fleft active J_times" channelId="<%=data.channelId%>" updatecycle="1">
                            <i class="hidden channel-select-icon"></i>
                            <span class="J_times"> 一次性</span>
                        </div>
                        <div class="channel-executive-item fleft J_times" channelId="<%=data.channelId%>" updatecycle="2,3">
                            <i class="hidden channel-select-icon"></i>
                            <span class="J_times"> 周期性</span>
                            <span class="channel-time-month J_month_day hidden"></span>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                计划外呼量
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-operation-short-text">
                        <input type="text" class="input-num-outBound" channelId="<%=data.channelId%>" ／>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                要求完成时间
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-operation-short-text">
                        <input type="text" class="input-date-outBound Wdate" channelId="<%=data.channelId%>" onClick="WdatePicker({minDate:'%y-%M-#{%d+1}'})" ／>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">任务描述</div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div class="channel-textarea-box fleft">
                        <textarea rows="" cols="" class="channel-textarea J_SMSBox"  id="J_SMSBox" channelId="<%=data.channelId%>" maxTextNum="<%=data.wordSize%>"></textarea>
                        <p class="channel-num-text">您还可以输入<i class="yellow"><%=data.wordSize%></i>个字</p>
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                客户标签信息
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix">
                    <div channelId="<%=data.channelId%>" class="channelPreDefineList channel-ta-btn clearfix J_termLable">
                    </div>
                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="fleft channel-operation-left">
                外呼问卷
            </div>
            <div class="fleft channel-operation-main">
                <div class="channel-operation-main-inner clearfix box-file">
                    <input type="file" id="file" name="file" class="" channelId="<%=data.channelId%>" />
                    <a href="javascript:;" class="out_UploadFlie">上传</a>
                    <input type="hidden" class="file-outBound" channelId="<%=data.channelId%>" />

                </div>
            </div>
        </li>
        <li class="channel-operation-box clearfix">
            <div class="channel-908-role" channelid="<%=data.channelId%>">
                <div class="channel-908-role-info" data-type="add">
                    <div class="channel-908-role-btn channel-908-role-btn-add">
                        <span class="span-add">+</span>
                    </div>
                    <span class="channel-908-role-desc">点击可以查看和修改默认规则</span>
                </div>
                <div class="channel-908-role-info hidden" data-type="sub">
                    <input type="hidden" class="menuWash-outBound" value=1">
                    <input type="hidden" class="callTest-outBound" value="1">
                    <input type="hidden" class="freqWash-outBound" value="1">
                    <div class="channel-908-role-btn channel-908-role-btn-sub" >
                        <span class="span-sub">-</span>
                    </div>
                    <div class="channel-908-role-item">
                        <span class="channel-908-role-desc" style="color:black">主叫号码:</span>
                        <input class="mainCall-outBound" type="text" channelId="<%=data.channelId%>" value="10086" />
                    </div>
                    <div class="channel-908-role-item">
                        <span class="channel-908-role-desc" style="color:black;margin-right:10px;">是否要清洗黑红白名单:</span>
                        <span data-val="1" data-id="menuWash" class="channel-908-role-item-select hover">是</span>
                        <span data-val="0" data-id="menuWash" class="channel-908-role-item-select noLeftBorder">否</span>
                    </div>
                    <div class="channel-908-role-item" style="margin-left: 21px;">
                        <span class="channel-908-role-desc" style="color:black;margin-right:10px;">是否拨测:</span>
                        <span data-val="1" data-id="callTest" class="channel-908-role-item-select hover">是</span>
                        <span data-val="0" data-id="callTest" class="channel-908-role-item-select noLeftBorder">否</span>
                    </div>
                    <div class="channel-908-role-item">
                        <span class="channel-908-role-desc" style="color:black;margin-right:10px;">是否需要进行频次清洗:</span>
                        <span data-val="1" data-id="freqWash" class="channel-908-role-item-select hover" >是</span>
                        <span data-val="0" data-id="freqWash" class="channel-908-role-item-select noLeftBorder">否</span>
                    </div>
                </div>
            </div>
        </li>
    </ul>


</div>
-->